<ActionBar title="Détails du Joueur" showBackButton="true"></ActionBar>

<ScrollView>
  <StackLayout padding="20" *ngIf="person">
    <Label [text]="person.name" fontSize="26" fontWeight="bold" marginBottom="10" color="#111111"></Label>
    
    <StackLayout class="hr-light" marginBottom="15" height="1" backgroundColor="#CCCCCC"></StackLayout>

    <Label [text]="'⚽ Poste : ' + person.role" fontSize="18" marginBottom="10" fontWeight="600"></Label>

    <StackLayout *ngIf="person.goals" marginBottom="10">
      <Label [text]="'🎯 Buts en carrière : ' + person.goals" fontSize="16" color="#2E7D32" fontWeight="bold"></Label>
    </StackLayout>

    <StackLayout *ngIf="person.achievements" marginTop="10" marginBottom="10">
      <Label text="🏆 Trophées & Palmarès :" fontWeight="bold" fontSize="16" marginBottom="5"></Label>
      <Label [text]="formatAchievements(person.achievements)" textWrap="true" fontSize="14" color="#444444" lineHeight="4"></Label>
    </StackLayout>

    <StackLayout *ngIf="person.description" marginTop="10">
      <Label text="📖 Biographie :" fontWeight="bold" fontSize="16" marginBottom="5"></Label>
      <Label [text]="person.description" textWrap="true" fontSize="14" color="#555555"></Label>
    </StackLayout>
  </StackLayout>
</ScrollView>