nav {
  background-color: #222;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

hr {
  margin-bottom: 20px;
}